<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">

  <link rel="stylesheet" href="/lib/jquery-ui/jquery-ui.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>
<body>

<partial name="_CookieConsentPartial" />
@RenderBody()



  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  <script src="/lib/masked-input/jquery.maskedinput.min.js"></script>
  <script src="/lib/mask-money/jquery.maskMoney.0.2.js"></script>

  <script src="/lib/jquery-blockui/jquery.blockUI.js"></script>
  <script src="/lib/jquery-ui/jquery-ui.js"></script>  
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
  <script src="/js/custom/main.js"></script>
  <script src="/js/custom/form.js"></script>
  <script src="/js/custom/delete.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
  <script src="/js/custom/main.js"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
