@model src.ViewModels.PessoaViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Incluir cliente</h4>
        <partial name="_Form" />
    </div>
</div>