@model src.ViewModels.PessoaViewModel

@{
    ViewData["Title"] = "Update";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Alterar cliente</h4>

        <form asp-action="Edit" class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Form" />

        </form>


    </div>
</div>